@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Single+Day&display=swap");

/*header*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Single Day", sans-serif;
}

.header-top {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid black;
  align-items: center;
  border: none;
  background-color: #ffffff;
  z-index: 50;
  box-shadow: -1px 4px 5px -3px rgba(180, 174, 174, 0.26);
  -webkit-box-shadow: -1px 4px 5px -3px rgba(180, 174, 174, 0.26);
  -moz-box-shadow: -1px 4px 5px -3px rgba(180, 174, 174, 0.26);
}

.header-name {
  font-size: 45px;
  margin: 0 5px;
}

.header-top > p {
  font-size: 30px;
  font-weight: 400;
}

.header-buttons {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  font-size: 18px;
}

.header-login:hover,
.check-dust:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.header-imgs {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.header-imgs > img:first-of-type {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-imgs > img:last-of-type {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.header-buttons > button {
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  background-color: #ffff;
}

.header-title {
  display: flex;
  justify-content: center;
  flex: 1;
}
.header-title > h1 {
  margin: 0;
  font-size: 55px;
}

.name-dust {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: row;
  gap: 100px;
  padding: 30px 100px;
  background-color: #ffffff;
  border: 1px solid black;
  list-style: none;
  z-index: 10;
}

.name-dust > span {
  color: black;
  position: absolute;
  top: 2%;
  right: 4%;
  cursor: pointer;
}

#name-dust-bad {
  list-style: none;
  color: rgb(255, 0, 0);
  font-weight: bold;
}
#name-dust-pure {
  list-style: none;
}

.header-greeting {
  padding-top: 120px;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 20px 0;
  font-size: 20px;
}

/*main*/

ul {
  list-style: none;
}

.team-intro {
  border-bottom: 1px solid black;
  width: 90%;
  margin: 0 auto;
  font-size: 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.team-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.team-title > p {
  padding: 5px 100px;
  font-size: 30px;
  margin: 0;
  border: #f06d6d solid 5px;
  box-shadow: 0 5px 8px 0px gray;
}

.content-container {
  flex: 1;
  margin-left: 50px;
}
.img-container {
  flex: 1;
  text-align: center;
}

.dark-mode {
  background-color: black;
  color: white;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 700px;
  height: 700px;
  border-radius: 50%;
}

/*posting box*/
/* 포스트박스 상단 토글 버튼 */
.topBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.toggleButton {
  margin: 12px auto;
  padding: 9px 102px;
  border: #f06d6d solid 5px;
  font-size: 24px;
  box-shadow: 0 5px 8px 0px gray;
}
/* 포스팅박스 부분 */
.hidden-content {
  display: none;
  margin-top: 20px;
}
.postbox {
  width: 1000px;
  height: 1300px;
  margin: 0 auto 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px blue;
  border-radius: 5px;
}

.UPbox1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 15px;
}

.UPbox1 > input {
  width: 250px;
}

.mid4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
textarea {
  resize: none;
}
/* 포스팅박스 하단 버튼 */
.endBtn {
  display: flex;
  justify-content: end;
}

section > button:nth-of-type(2) {
  margin-left: 2px;
}
section > button:nth-of-type(3) {
  margin-left: 380px;
  width: 40px;
}

/*card-container*/
.card-area {
  width: 100%;
  padding-bottom: 70px;
}

/* Member Card Title */
.card-area > .card-area-title {
  display: flex;
  margin-bottom: 110px;
  margin-top: 15px;
  justify-content: center;
}

.card-area > .card-area-title > span {
  padding: 9px 102px;
  border: #f06d6d solid 5px;
  font-size: 32px;
  box-shadow: 0 5px 8px 0px gray;
}

/* Member Card List */
.card-area .card-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.flip {
  width: 290px;
  height: 390px;
  perspective: 1100px;
  margin: 0 auto 0 auto;
  cursor: pointer;
  margin-bottom: 25px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.front {
  border: 1px solid #f06d6d;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f06d6d40;
}

.back > .card-name {
  font-size: 42px;
  margin: 65px 0 80px 0;
}
.back > .card-contents {
  font-size: 32px;
}
.flip:hover .card {
  transform: rotateY(180deg);
}
